
h1{
font-family: fantasy;
}

table, th, td {
border: 3px solid black;
table-layout: fixed;
width: 80%;
border-collapse: collapse;
  }
  img {

    float: none;
    display: inline-block;
    vertical-align: middle;
  }
